<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/content.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/css/gc.spread.sheets.excel2013white.14.2.2.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/spread-table.css">
	<link rel="stylesheet" type="text/css" href="../static/css/global.css">

    <script src="../static/js/jquery_3.1.1.min.js" type="text/javascript"></script>
    <script src="../static/js/gc.spread.sheets.all.11.0.0.min.js" type="text/javascript"></script>
    <script src="../static/js/gc.spread.excelio.11.0.0.min.js" type="text/javascript"></script>
    <script src="../static/js/gc.spread.sheets.resources.zh.11.0.0.min.js" type="text/javascript"></script>
    <script src="../static/js/gc.spread.sheets.print.11.0.0.min.js" type="text/javascript"></script>
    <script src="../static/js/gc.spread.sheets.charts.11.0.0.min.js" type="text/javascript"></script>
    <script src="../static/js/FileSaver.min.js" type="text/javascript"></script>
    <script src="../static/js/v14.js" type="text/javascript"></script>

    <title>Fission Tracks</title>
    <style></style>
	
</head>
<body>
	<!--头部--->
    <div class="header">
		<span class="logo">Fission Tracks</span>
        <ul class="nav" style="padding-left:300px;">
            <li class="drop-down">
				<select class="header_option" id="control_display" onchange="ctr_dispaly(this);">
					<option>Please choice mode</option>
					<option id="get"value="get ζ">get ζ</option>
					<option id="ages" value="ages">ages</option>
					<option id="radial" value="radial plot">radial plot</option>
					<option id="ked" value="KDE">KDE</option>	
				</select>               
            </li>
			<li class="drop-down">
				<select class="header_option" id="control_method" onchange="ctr_method(this);">
					<option>Please choice method</option>
					<option id="EDM" value="EDM">EDM</option>
					<option id="ICP_zeta" value="ICP (ζ)">ICP (ζ)</option>
					<option id="ICP_absolute" value="ICP (absolute)">ICP (absolute)</option>
				</select>
			</li>
        </ul>
    </div>
	
	<!--中间-->
    <div class="content">
        <!--左侧原数据-->
        <div class="left">
			<div id="ss" class="sample-spreadsheets"></div>
        </div>
		<!--右侧参数和运行结果-->
        <div class="right">
			<!--参数-->
			<div id="parameter">
				<p>&nbsp </p>
				<!--zetaDiv-->
                <div class="center" id="zetaDiv" style="display: none;">
                    ζ:<input type="text" id="zetaVal" Value="350">
                    <span>±</span>
                    <input type="text" id="zetaErr" Value="10">
                    <span>
                        yr cm<sup>2</sup>
                    </span>
                    <div style="line-height:50%;"><br></div>
                </div>
				<!--standAgeDiv-->
                <div class="center" id="standAgeDiv" style="display: none;">
                    t: <input type="text" id="standAgeVal" Value="100">
                    <span>±</span>
                    <input type="text" id="standAgeErr" Value="1">
                    <span>Ma</span>
                    <div style="line-height:50%;"><br></div>
                </div>
				<!--rhoDdiv-->
                <div class="center" id="rhoDdiv" style="display: none;">
                    ρ<sub>D</sub>:
                    <input type="text" id="rhoDval" Value="2500000">
                    <span>±</span>
                    <input type="text" id="rhoDerr" Value="10000">
                    <span>1/cm<sup>2</sup></span>
                    <div style="line-height:50%;"><br></div>
                </div>
				<!--M_zetaDiv-->
                <div class="center" id="M_zetaDiv" style="display: none;">
                    ζ:<input type="text" id="M_zetaVal" Value="9700">
                    <span>±</span>
                    <input type="text" id="M_zetaErr" Value="50">
					<span>
                        Myr μm<sup>2</sup>
                    </span>
                    <div style="line-height:50%;"><br></div>
                </div>
				<!--spot_size-->
                <div class="center" id="spot_size" style="display: none;">
                    spot size:<input type="text" id="myspot_size" Value="35">       
					<span>μm</span>
                    <div style="line-height:50%;"><br></div>
                </div>
				<!--mineral-->
				<p>&nbsp </p>
				<div class="center" id="mineral" style="display: none;">
					&nbsp;<span>Mineral:</span>
					<select id='sel_mineral'>
					  <option class="translate" id="apatite" value="apatite">apatite</option>
					  <option class="translate" id="zircon" value="zircon">zircon</option>
					</select>
				</div>
				<!--transformation-->
				<p>&nbsp </p>
				<div class="center" id="transformation" style="display: none;">
					&nbsp;<span>Transformation:</span>
					<select>
					  <option id="radial_log" value="log">logarithmic</option>
					  <option id="radial_lin" value="linear">linear</option>
					  <option id="radial_sqrt" value="sqrt">sqrt</option>
					</select>
				</div>
				<!--moredata-->
				<p>&nbsp;</p>
				<div id="moredata" style="padding-left:50px;display: none;">
					<table>
						<tbody>
						<tr><td>&nbsp;<span id="U238U235"><sup>238</sup>U/<sup>235</sup>U ratio:</span></td>
							<td><input type="text" id="myU238U235" value="137.818" style="width:100px;"> ± </td>
							<td>&nbsp;<input type="text" id="errU238U235" value="0.0225" style="width:100px;"></td>
						</tr>
						
						<tr><td>&nbsp;<span id="LambdaU238"><sup>238</sup>U decay constant:</span></td>
							<td><input type="text" id="myLambdaU238" value="0.000155125" style="width:100px;"> ± </td>
							<td>&nbsp;<input type="text" id="errLambdaU238" value="8.3e-8" style="width:100px;">Myr<sup>-1</sup></td>
						</tr>
						
						<tr><td>&nbsp;<span id="LambdaFission"><sup>238</sup>U fission decay constant:</span></td>
							<td><input type="text" id="myLambdaFission" value="8.5e-11" style="width:100px;"> ± </td>
							<td>&nbsp;<input type="text" id="errLambdaFission" value="1e-12" style="width:100px;">Myr<sup>-1</sup></td>
						</tr>
						
						<tr><td>&nbsp;<span id="etchfact">efficiency factor:</span></td>
							<td><input type="text" id="myetchfact" value="0.93" style="width:100px;"></td><td></td>
						</tr>
						
						<tr><td>&nbsp;<span id="tracklength">equivalent isotropic track length:</span></td>
							<td><input type="text" id="mytracklength" value="16.2" style="width:100px;"></td><td></td>
						</tr>
						<tr><td>&nbsp;<span id="mindens">mineral density:</span></td>
							<td><input type="text" id="mymindens" value="3.22" style="width:100px;"></td><td></td>
						</tr>
						</tbody>
					</table>
				</div>
            </div>
			<!--运行结果-->
			<div id="div_rightsheet">
				<div id="rightsheet" class="sample-spreadsheets" style="display: none"></div>
			</div>
			<div id="img_diaplay">
				<img id="radialImg" src="#" style="display: none"/>
			</div>
			</div>
    </div>
	
	<!--尾部-->
    <div class="footer">
        <ul class="nav">
            <li><a id="reset">default</a></li>
            <li><a id="clear">clear</a></li>
            <li><a href="#" class="a-upload"><input type="file" id="fileDemo">open</a></li>
            <li><a href="#" id="saveExcel">saveCSV</a></li>
            <li><a id="run">Run</a></li>
            <li><a id="plot">Plot</a></li>
        </ul>
    </div>
	
    <script src="../static/js/spread-left_table.js" type="text/javascript"></script>
	<script src="../static/js/spread-right_table.js" type="text/javascript"></script>
	<script src="../static/js/getzeta.js" type="text/javascript"></script>
	<script src="../static/js/getages.js" type="text/javascript"></script>
	<script src="../static/js/radialplot.js" type="text/javascript"></script>
	<script src="../static/js/operation.js" type="text/javascript"></script>
	<script src="../static/js/ctr_parameter.js" type="text/javascript"></script>
	<script type="text/javascript"></script>
</body>
</html>