.content{
    width:100%;
    height: 80%;
    position: fixed;
    top: 63px;
    bottom: 50px;
}

.left{
    overflow:hidden;
    position:fixed;
    left:0;
    right:50%;
    top:63px;
    bottom:50px;
    padding:0;
    z-index:1;
    height: 500px;
}

.right{
    overflow:auto;
    position:fixed;
    left:50%;
    width:50%;
    top:63px;
    bottom:50px;
    padding:0;
    z-index:-1;
    height:500px;
}

.left-top{
    height:13%;
}

.left-bottom{
    height:85%;
}

.center{
    text-align: center;
}

.result {
    position:relative;
    display:inline-block;
    left:0;
    width:100%;
    top:0;
    bottom:0;
    padding:0;
    z-index:3;
}


